<section class="govuk-grid-column-full">
    <div class="govuk-grid-column-full">
        <%= f.label :step, "Step", class: "govuk-label" %>
        <%= f.text_field :step, class: "govuk-input" %>
    </div>
</section>